<div class='container pt-5'>
  <div class='row'>
    <div class='col-md-6 mx-auto'>
      <h2>マイページ</h2>
      <h5><strong>登録情報　　</strong><%= link_to "編集する", customer_edit_path, class:"btn btn-success" %></h5>
      <table class='table table-bordered mt-3'>
        <tr>
          <td class="table-active">氏名</td>
          <td><%= @customer.last_name %> <%= @customer.first_name %></td>
        </tr>
        <tr>
          <td class="table-active">カナ</td>
          <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td class="table-active">ニックネーム</td>
          <td><%= @customer.nick_name %></td>
        </tr>
        <tr>
          <td class="table-active">メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td class="table-active">画像</td>
          <td>
            <% if @customer.image.attached? %>
              <%= image_tag(@customer.image, width: '200', height: '200') %>
            <% else %>
            <% end %>
          </td>
        </tr>
      </table>
   　<h2>マイレビュー</h2>
      <table class="table">
        <% @reviews.each do |review| %>
          <tr>
            <td>
              <%= review.hair_catalog.name %>
            </td>
            <td>
              <% if review.image.attached? %>
                <%= image_tag review.image, size: "200x200" %>
              <% end %>
            </td>
            <td>
              <%= review.body %>
            </td>
            <td>
               <div id="score_<%= review.id %>"></div>
<script>
$(document).on('turbolinks:load', function() {
  let elem = document.querySelector('#score_<%= review.id %>');
  if (elem == null) return;
  
  elem.innerHTML = "";
  let opt = {  
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: "<%= review.score %>",
    readOnly: true,
  };
  raty(elem, opt);
});</script>
            </td>
            <td>
              <%= link_to "削除",  hair_catalog_review_path(review.hair_catalog_id, review.id), method: :delete, data: { confirm: "このレビューを削除してもよろしいですか？" }, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<div id="post_raty"></div>