<%#= form_with model: @hair_catalog, url: hair_catalogs_path do |f| %>

<div class="container px-5 px-sm-3">
  <div class="row mt-4">
    <div class="col-md-3">
      <%#= f.hidden_field :hair_catalog_id, value: @hair_catalog.id %>
      <div>
        <%= image_tag @hair_catalog.image, size: "300x300" %>
      </div>
    </div>
    <div class="col-md-8 offset-md-1">
      <div>
        <h1><%= @hair_catalog.name %> </h1>
        <h5 class="mt-3"><%= @hair_catalog.explamatory_text %></h5>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-sm-8 offset-sm-2" >

      <h3>レビュー新規登録</h3>
      <%= form_with model: @review, url: hair_catalog_reviews_path(@hair_catalog) , method: :post do |f| %>
        <div class="form-group row" id="score">
          <%= f.label :score, class: "col-sm-6" %>
          <div class="col-sm-6">
            <div id="post_raty"></div>
            <%#= f.hidden_field :score, id: :review_score, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :image, "髪型画像", class: "col-sm-6" %>
          <div class="col-sm-6">
            <%= f.file_field :image, accept: "image/*" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :body, "レビュー", class: "col-sm-6" %>
          <div class="col-sm-6">
            <%= f.text_area :body, placeholder: "感想をいれてください", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.submit '新規登録', class:"btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
<%= form_with url: hair_catalog_path(@hair_catalog),method: :get do |f| %>
<%= f.label :start_date, '開始日' %>
<%= f.datetime_field :start_date %>~
<%= f.label :end_date, '終了日' %>
<%= f.datetime_field :end_date %>
 <%= f.submit '検索', class:"btn btn-success" %>
<% end %>
  <div class="row mt-4">
    <div class="col-12">
      <% @reviews.each do |review|%>
        <div class="row  mt-4">
          <div class="col-sm-3">
            <%= image_tag review.image, size: "200x200" %>
          </div>
          <div class="col-sm-9">
           <div class="mt-2" style="font-size: 24px; font-weight: bolder;"> <%= review.customer.nick_name %></div>
           <div id="score_<%= review.id %>"></div>
            <script>
             $(document).on('turbolinks:load', function() {
              let elem = document.querySelector('#score_<%= review.id %>');
             if (elem == null) return;
             elem.innerHTML = "";
             let opt = {
             starOn: "<%= asset_path('star-on.png') %>",
             starOff: "<%= asset_path('star-off.png') %>",
             starHalf: "<%= asset_path('star-half.png') %>",
             score: "<%= review.score %>",
             readOnly: true,
             };
             raty(elem, opt);
              });
             </script>
            <div class="mt-2"><%= review.body %></div>
            <div id="favorite_button_<%= review.id %>" class="mt-2"><%= render "public/favorites/btn", review: review %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).on('turbolinks:load', function() {
    let elem = document.querySelector('#post_raty');
    if (elem == null) return;
    elem.innerHTML = ""
    let opt = {
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      scoreName: 'review[score]',
    };
    raty(elem, opt);
  });
</script>

