<div class="container">
  <div class="row">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2><%= @customer.last_name + @customer.first_name %>さんの会員情報編集</h2>
    </div>
  </div>
  <%= form_with model: @customer, url: admin_customer_path, method: :patch, local: true do |f| %>
  <div class="row">
    <div class="col-sm-6 px-sm-0 offset-sm-1">
    <table class="table table-bordered">
       <tr>
         <th class="table-active">会員ID</th>
         <td><%= @customer.id %></td>
       </tr>
    <tr>
      <th class="table-active">氏名</th>
      <td><%= @customer.last_name %><%= @customer.first_name %></td>
    </tr>
    <tr>
      <td class='table-active'>カナ</td>
      <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
    </tr>
      <td class='table-active'>ニックネーム</td>
      <td><%= @customer.nick_name %></td>
    </tr>
    <tr>
       <th class="table-active">メールアドレス</th>
       <td><%= @customer.email %></td>
      </tr>
      <tr>
        <th class="table-active"><%= f.label "会員ステータス" %></th>
        <td><%= f.select :is_deleted, [['有効', false], ['退会済み', true]], {}, { class: 'form-control' } %></td>
      </tr>
    </table>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-6 px-sm-0 offset-sm-1">
      <%= f.submit '変更を保存' %>
    </div>
  </div>
  <% end %>
</div>
