<!DOCTYPE html>
<html>
  <head>
    <title>ヘアカタログレビュー</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/e2e175b78f.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:#fdf5e6">
    <header>
      <%= render 'layouts/header' %>
       <%= render 'layouts/search' %>
    </header>

    <div class="container">
      <% if flash[:success] %>
        <div class="alert alert-primary">
          <%= flash[:success] %>
        </div>
      <% end %>

      <% if flash[:danger] %>
        <div class="alert alert-danger">
          <%=flash[:danger] %>
        </div>
      <% end %>
    </div>

    <main>

      <%= yield %>
    </main>
    <footer>
    </footer>
  </body>
</html>
